<h2><%= product.name %></h2>
<p><%= product.description %></p>
<img><%= product.image_url %>
<p>Colour<%= product.colour %></p>
<p><%= link_to 'Show', product %>
<%= link_to 'Edit', edit_product_path(product) %>
<%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
